{% extends '::_lte_backend.html.twig' %}

{% form_theme edit_form 'SuperlineaBundle:Form:fields.html.twig' %}

{% block title %}Instrucciones{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.css') }}" type="text/css"
          media="screen"/>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script type="text/javascript" src="{{ asset('bundles/superlinea/fancybox/jquery.browser.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".fancybox").fancybox({
                'width': '1020',
                'height': '600',
                'autoScale': false,
                'autoDimensions': false,
                'scrolling': 'visible',
                'fitToView': true,
                'type': 'iframe'
            });


            $(".fancyimg").fancybox({
                'padding': 0,
                'autoScale': false,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'title': this.title,
                'width': 'auto',
                'height': 'auto'
            });

            $("#ref").on('change', function() {
                var ref = $(this).val();
                var id = $('#gitek_superlineabundle_instrucciontype_id').val();

                var url = Routing.generate('instruccion_edit2', { id: id,ref: ref });
                console.log(url);

                window.location.href = url;

//                $.ajax(url, {
//                    type: "GET",
//                    contentType: "application/json",
//                    success: function (data) {
//                        var datos = $.parseJSON(data);
//                        var destino = $('#gitek_superlineabundle_instrucciontype_materiales');
//
//                        window.location.href
//                    },
//                    error: function (xhr, ajaxOptions, thrownError) {
//                        alert(xhr.status);
//                        alert(thrownError);
//                    }
//                });
            });
        });

    </script>

{% endblock %}

{% block body %}
    {{ parent() }}
    {% block content %}

        <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include '_lte_menu.html.twig' with {'option': 'instruccion_edit'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Editar Instrucción
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            {% include '_lte_ag_alerts.html.twig' %}

            <div class="row">
                <div class="col-md-12">
                    <form id="formulario" action="{{ path('instruccion_update', { 'id': entity.id }) }}"
                          method="post" {{ form_enctype(edit_form) }}>
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title"></h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="box">
                                    <div class="box-header" style="cursor: move;">
                                        <i class="fa fa-list-alt"></i>

                                        <h3 class="box-title">Ficha</h3>
                                        <!-- tools box -->
                                        <div class="pull-right box-tools">

                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <div class="box-body">

                                        <div class="form-group">
                                            {{ form_label(edit_form.nombre,'Nombre: ' | trans) }}
                                            {{ form_errors(edit_form.nombre) }}
                                            {{ form_widget(edit_form.nombre,{ 'attr': {'class': 'form-control' }}
                                            ) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(edit_form.proceso,'Proceso: ' | trans) }}
                                            {{ form_errors(edit_form.proceso) }}
                                            {{ form_widget(edit_form.proceso,{ 'attr': {'class':'form-control'} }) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(edit_form.referencia, 'Referencia: ' | trans) }}
                                            {{ form_errors(edit_form.referencia) }}
                                            {{ form_widget(edit_form.referencia,{ 'attr': {'class':'form-control'} })}}
                                        </div>

                                        <br>

                                        <div class="box box-solid box-success">
                                            <div class="box-header">
                                                <h3 class="box-title">Materiales relacionados</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <select name="ref" id="ref">
                                                    <option value="">Selecciona para filtro</option>
                                                {% for ref in referencias %}
                                                    <option value="{{ref['referencia']}}">{{ref['referencia']}}</option>
                                                {% endfor %}
                                                </select>
                                                <div class="form-group">
                                                    {#{{ form_label(edit_form.materiales) }}#}
                                                    {{ form_errors(edit_form.materiales) }}
                                                    {#{{ form_widget(edit_form.materiales, { 'attr': {'class': 'form-control' }}#}
                                                    {#)#}
                                                    {#}}#}
                                                    {{ form_widget(edit_form.materiales, {'attr': {'class': attr.widget_class|default('') }}
                                                    ) }}
                                                </div>
                                            </div>
                                            <!-- /.box-body -->

                                        </div>

                                        <div class="box box-danger">
                                            <div class="nav-tabs-custom">
                                                <ul class="nav nav-tabs pull-right" style="cursor: move;">
                                                    <li class=""><a href="#div-imagen" data-toggle="tab">Imagen</a></li>
                                                    <li class="active"><a href="#div-video" data-toggle="tab">Video</a>
                                                    </li>
                                                    <li class="pull-left header"><i class="fa fa-picture-o"></i>
                                                        Multimedia
                                                    </li>
                                                </ul>

                                                <div class="tab-content no-padding">
                                                    <div class="tab-pane " id="div-imagen">
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-sm-7">
                                                                    {{ form_label(edit_form.image) }}
                                                                    {{ form_errors(edit_form.image) }}
                                                                    {{ form_widget(edit_form.image) }}
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    {% if entity.foto %}
                                                                        <div>
                                                                            <a class="fancyimg"
                                                                               href="{{ app.request.getSchemeAndHttpHost() ~ "/images/uploads/" ~ entity.foto }}"
                                                                               title="Imagen de la instrucción">
                                                                                <img src="{{ "/images/uploads/" ~ entity.foto }}"
                                                                                     alt="Imagen de la instrucción"
                                                                                     width="150px"
                                                                                     height="150px">
                                                                            </a>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="tab-pane active" id="div-video">
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-sm-5">
                                                                    {{ form_label(edit_form.videofile) }}
                                                                    {{ form_errors(edit_form.videofile) }}
                                                                    {{ form_widget(edit_form.videofile) }}
                                                                </div>
                                                                <div class="col-sm-7">
                                                                    {% if entity.video %}
                                                                        <div>
                                                                            <video controls width="360" height="240"
                                                                                   controls="controls">
                                                                                <source src="archivo.ogv"
                                                                                        type="video/ogg"/>
                                                                                <source src="/video/{{ entity.video }}"
                                                                                        type="video/mp4"/>
                                                                                <object type="application/x-shockwave-flash"
                                                                                        width="360" height="240"
                                                                                        data="player.swf?file=archivo.mp4">
                                                                                    <param name="movie"
                                                                                           value="player.swf?file=/video/{{ entity.video }}"/>
                                                                                </object>
                                                                            </video>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {#<div class="row">#}
                                                        {#<div class="form-group">#}
                                                        <label for="delvideo" class="title milabel">El video es:</label>
                                                        <span id="delvideo" data-miid="{{ entity.id }}"
                                                              class="input xlarge">{{ entity.video }}</span>
                                                        <input type="button" name="btn_delvideo" id="btn_delvideo"
                                                               value="Eliminar">
                                                        {#</div>#}
                                                        {#</div>#}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group" style="display: none;">
                                    <label for="urlyoutube" class="title milabel">Pega la dirección del video en
                                        youtube:</label>
                                    <input type="text" id="urlyoutube" class="input xxlarge" name="urlyoutube"
                                           value=""/>
                                    <label for="delurl" class="title milabel">El id del video youtube
                                        es:</label>
                                    <span id="delurl" class="input xlarge">{{ entity.youtube }}</span>
                                    <input type="button" name="btn_delurl" id="btn_delurl" value="Eliminar">
                                </div>

                                <div class="form-group" style="display:none;">
                                    {{ form_label(edit_form.youtube,'Dirección Youtube: ' | trans) }}
                                    {{ form_errors(edit_form.youtube) }}
                                    {{ form_widget(edit_form.youtube,{ 'attr': {'class': 'form-control' }}) }}
                                </div>


                            </div>
                            <!-- /.box-body -->

                            {{ form_rest(edit_form) }}

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Grabar</button>
                            </div>

                        </div>
                        <!-- /.box -->
                    </form>

                </div>
            </div>

        </section>
        <!-- /.content -->
        </aside>
        <!-- /.right-side -->
        </div><!-- ./wrapper -->
    {% endblock %}
{% endblock %}