{% extends '::_lte_backend.html.twig' %}

{% block title %}Instrucciones{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.css') }}" type="text/css"
          media="screen"/>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script type="text/javascript" src="{{ asset('bundles/superlinea/fancybox/jquery.browser.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".fancybox").fancybox({
                'width': '1020',
                'height': '600',
                'autoScale': false,
                'autoDimensions': false,
                'scrolling': 'visible',
                'fitToView': true,
                'type': 'iframe'
            });


            $(".fancyimg").fancybox({
                'padding': 0,
                'autoScale': false,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'title': this.title,
                'width': 'auto',
                'height': 'auto'
            });
        });


        $(".fancyoutube").click(function () {
            $.fancybox({
                'padding': 0,
                'autoScale': false,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'title': this.title,
                'width': 680,
                'height': 495,
                'href': this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
                'type': 'swf',
                'swf': {
                    'wmode': 'transparent',
                    'allowfullscreen': 'true'
                }
            });

            return false;
        });
    </script>


    <script>


        //        Filtros
        (function ($) {
            /*
             * Function: fnGetColumnData
             * Purpose:  Return an array of table values from a particular column.
             * Returns:  array string: 1d data array
             * Inputs:   object:oSettings - dataTable settings object. This is always the last argument past to the function
             *           int:iColumn - the id of the column to extract the data from
             *           bool:bUnique - optional - if set to false duplicated values are not filtered out
             *           bool:bFiltered - optional - if set to false all the table data is used (not only the filtered)
             *           bool:bIgnoreEmpty - optional - if set to false empty values are not filtered from the result array
             * Author:   Benedikt Forchhammer <b.forchhammer /AT\ mind2.de>
             */
            $.fn.dataTableExt.oApi.fnGetColumnData = function (oSettings, iColumn, bUnique, bFiltered, bIgnoreEmpty) {
                // check that we have a column id
                if (typeof iColumn == "undefined") return new Array();

                // by default we only want unique data
                if (typeof bUnique == "undefined") bUnique = true;

                // by default we do want to only look at filtered data
                if (typeof bFiltered == "undefined") bFiltered = true;

                // by default we do not want to include empty values
                if (typeof bIgnoreEmpty == "undefined") bIgnoreEmpty = true;

                // list of rows which we're going to loop through
                var aiRows;

                // use only filtered rows
                if (bFiltered == true) aiRows = oSettings.aiDisplay;
                // use all rows
                else aiRows = oSettings.aiDisplayMaster; // all row numbers

                // set up data array
                var asResultData = new Array();

                for (var i = 0, c = aiRows.length; i < c; i++) {
                    iRow = aiRows[i];
                    var aData = this.fnGetData(iRow);
                    var sValue = aData[iColumn];

                    // ignore empty values?
                    if (bIgnoreEmpty == true && sValue.length == 0) continue;

                    // ignore unique values?
                    else if (bUnique == true && jQuery.inArray(sValue, asResultData) > -1) continue;

                    // else push the value onto the result data array
                    else asResultData.push(sValue);
                }

                return asResultData;
            }
        }(jQuery));


        function fnCreateSelect(aData) {
            var r = '<select><option value=""></option>', i, iLen = aData.length;
            for (i = 0; i < iLen; i++) {
                r += '<option value="' + aData[i] + '">' + aData[i] + '</option>';
            }
            return r + '</select>';
        }


        /* Table initialisation */
        $(document).ready(function () {
            var oTable = $('#tablainstrucciones').dataTable({
                "aoColumnDefs": [
                    { "sWidth": "90px", "aTargets": [ 0 ] }
                ],
                "oLanguage": {
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });

            $("tfoot th").each(function (i) {
                if (i === 2) {
                    this.innerHTML = fnCreateSelect(oTable.fnGetColumnData(i));
                    $('select', this).change(function () {
                        oTable.fnFilter($(this).val(), i);
                    });
                }
            });
        });
    </script>

{% endblock %}

{% block body %}
    {{ parent() }}
    {% block content %}

        <div class="wrapper row-offcanvas row-offcanvas-left">

            {% include '_lte_menu.html.twig' with {'option': 'instruccion'} %}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Instrucciones
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="row">
                        <div class="col-xs-12">

                            {% include '_lte_ag_alerts.html.twig' %}

                            <div class="box">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->

                                <div class="box-body table-responsive">
                                    <a class="btn btn-primary" href="{{ path('instruccion_new') }}">Nueva Instrucción</a><br/><br/>
                                    <table id="tablainstrucciones" class="table table-condensed table-hover table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            {#<th class="mith th1"></th>#}
                                            <th class=""></th>
                                            {#<th class="mith th2">Nombre</th>#}
                                            <th class="">Nombre</th>
                                            {#<th class="mith th25">Proceso</th>#}
                                            <th class="">Proceso</th>
                                            {#<th class="mith th3">Ref.</th>#}
                                            <th class="">Ref.</th>
                                            {#<th class="mith th4">Foto</th>#}
                                            <th class="">Foto</th>
                                            {#<th class="mith th5">Video</th>#}
                                            <th class="">Video</th>
                                            {#<th class="mith th7">Materiales</th>#}
                                            <th class="">Materiales</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for entity in entities %}
                                            <tr>
                                                <td class="tdacciones2">
                                                    <ul class="list-unstyled ullinea ulacciones">
                                                        <li class="enlinea">
                                                            <a href="{{ path('instruccion_edit', { 'id': entity.id }) }}"><img
                                                                        src="{{ asset('bundles/superlinea/img/editar18.png') }}"
                                                                        alt="Editar">&nbsp;{{ "Editar" | trans }}</a>
                                                        </li>
                                                        <li class="enlinea">
                                                            <a href="{{ path('instruccion_delete', { 'id': entity.id }) }}"
                                                               onclick="return confirm('¿Seguro que desea eliminar?');"><img
                                                                        src="{{ asset('bundles/superlinea/img/eliminar18.png') }}"
                                                                        alt="Eliminar">&nbsp;{{ "Eliminar" |trans }}</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <a href="{{ path('instruccion_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a>
                                                </td>
                                                <td>{{ entity.proceso }}</td>
                                                <td>
                                                    <a href="{{ path('instruccion_edit', { 'id': entity.id }) }}">{{ entity.referencia }}</a>
                                                </td>
                                                <td>{% if entity.foto %}
                                                        <a class="fancyimg"
                                                           href="{{ "/images/uploads/" ~ entity.foto }}"><img
                                                                    src="{{ vich_uploader_asset(entity, 'image') | imagine_filter('my_thumb') }}"/></a>
                                                    {% endif %}
                                                </td>
                                                <td>{% if entity.video %}Si {% else %} No {% endif %} </td>
                                                {#<td>{% if entity.youtube %}<a class="fancyoutube"#}
                                                                              {#href="http://www.youtube.com/watch?v={{ entity.youtube }}">{{ "Mostrar video" | trans }}</a>{% endif %}#}
                                                {#</td>#}
                                                <td>
                                                    {% for m in entity.materiales %}
                                                        <a href="{{ path('material_show',{ 'id': m.id}) }}"><span class="label label-info">{{ m.nombre }}</span></a>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>

                </section>
                <!-- /.content -->
            </aside>
            <!-- /.right-side -->
        </div><!-- ./wrapper -->


        </div>

    {% endblock %}
{% endblock %}

