
{% extends '::instruccion.html.twig' %}

{% block content %}

{% if puesto is not null %}
  <div style="display:none;">
    <input id ="puestoid" type="text" name="lineaid" value="{% if puesto.id %}{{ puesto.id }} {% endif %}" >
    <input id ="productoid" type="text" name="lineaid" value="{% if puesto.producto %}{{ puesto.producto.id }}{% endif %}" >
    <input id ="lineaid" type="text" name="lineaid" value="{% if puesto.linea %}{{ puesto.linea.id }}{% endif %}" >
    <input id ="usuarioid" type="text" name="lineaid" value="{% if puesto.usuario %}{{ puesto.usuario.id }}{% endif %}" >
  </div>
{% endif %}

{% if instrucciones is null %}
  <div class="row imageninstruccion h1noencontrado">
    <a class="noencontrado"href="#" title="Instrucción no encontrada.">Instrucción no encontrada.</a>
  </div>
{% else %}
  {% for entity in instrucciones %}
    {% if entity.youtube %}
        <div class="row imageninstruccion">
            <h3>{{ entity.nombre }}</h3>
            <div class="youtubecontainer">
              <iframe type="text/html" width="640" height="385" src="http://www.youtube.com/embed/{{ entity.youtube }}?playlist={{ entity.youtube }}&loop=1"  frameborder="0"></iframe>
              <!-- <iframe type="text/html" width="640" height="385" src="http://www.youtube.com/embed/{ { entity.youtube } }?version=3&loop=1&playlist={ { entity.youtube } }&autoplay=1&autohide=1"  frameborder="0"></iframe> -->
            </div>
        </div>
    {% elseif entity.video %}
      <div class="row imageninstruccion">
        <video controls="controls" width="640" height="480"  onclick="if(/Android/.test(navigator.userAgent))this.play();">
          <source src="../video/{{ entity.video }}" type="video/mp4" />
          <object type="application/x-shockwave-flash" data="images/flashfox.swf" width="640" height="480">
            <param name="movie" value="images/flashfox.swf" />
            <param name="allowFullScreen" value="true" />
            <param name="wmode" value="transparent" />
            <param name="flashVars" value="autoplay=true&amp;controls=true&amp;fullScreenEnabled=true&amp;loop=false&amp;poster=images/simplevideohtml5.jpg&amp;src=simplevideohtml5.mp4" />
            <embed src="images/flashfox.swf" width="640px" height="480px"  flashVars="autoplay=true&amp;controls=true&amp;fullScreenEnabled=true&amp;loop=false&amp;poster=images/simplevideohtml5.jpg&amp;src=simplevideohtml5.mp4"   allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
            <img alt="How to create HTML5 video in a few clicks" src="images/simplevideohtml5.jpg" width="640" height="480" title="Video playback is not supported by your browser" />
          </object>
        </video>
      </div>
    {% else %}
      <div class="row imageninstruccion">
        {% if entity.foto %}
          <img id="imginstruccion" src="{{"/images/uploads/" ~ entity.foto }}" />
        {% endif %}
      </div>
    {% endif %}

    <div class="row rowmateriales">
        <h3>Peticion de material</h3>
        <div id="avisopedido" class="alert alert-info" style="display:none;">Pedido en progreso</div>
        <div class="materialescontainer">
          {% for m in entity.materiales %}
            <a href="#" class="">
                <img class="botones pedidomaterial peticion" src="{{"/images/uploads/" ~m.foto }}" alt="{{ m.nombre }}" width="200px" height="60px">
                <input type="hidden" name="hiddenmaterialid" value="{{ m.id }}">
                <input type="hidden" name="pedidoid" value="">
            </a>
          {% endfor %}
        </div>
    </div>

  {% endfor %}
{% endif %}
{% endblock %}
