{% extends '::instruccion.html.twig' %}

{% block content %}
{% if puesto is not null %}
<div style="display:none;">
  <input id ="puestoid" type="text" name="lineaid" value="{% if puesto.id %}{{ puesto.id }} {% endif %}" >
  <input id ="productoid" type="text" name="lineaid" value="{% if puesto.producto %}{{ puesto.producto.id }}{% endif %}" >
  <input id ="lineaid" type="text" name="lineaid" value="{% if puesto.linea %}{{ puesto.linea.id }}{% endif %}" >
  <input id ="usuarioid" type="text" name="lineaid" value="{% if puesto.usuario %}{{ puesto.usuario.id }}{% endif %}" >
</div>
{% endif %}
{% if instrucciones is null %}
<div class="row imageninstruccion h1noencontrado">
  <a class="noencontrado"href="#" title="Instrucción no encontrada.">Instrucción no encontrada.</a>
</div>
{% else %}
{% for entity in instrucciones %}

{% if entity.video %}

  <div class="row imageninstruccion">
<!--     <video width="640" height="480"  autoplay controls >
      <source src="../video/{ { entity.video } }" type="video/mp4" />
    </video>
 -->
    <video id="video" style="cursor: pointer;" >
      <source src="../video/{{ entity.video }}" type="video/mp4" />
    </video>

    <script type="text/javascript">
      var video = document.getElementById('video');
      video.addEventListener('click',function(){
        video.play();
      },false);
    </script>

  </div>

{% elseif entity.youtube %}
<div class="row imageninstruccion">
  <h3>Instrucción: {{ entity.nombre ~ " |" ~ entity.youtube }} </h3>
  <iframe type="text/html" width="640" height="385" src="http://www.youtube.com/embed/{{ entity.youtube }}?version=3&loop=1&playlist={{ entity.youtube }}&autoplay=1&autohide=1"  frameborder="0"></iframe>
</div>
{% else %}
<div class="row imageninstruccion">
  {% if entity.foto %}
  <img id="imginstruccion" src="{{"/images/uploads/" ~ entity.foto }}" />
  {% endif %}
</div>
{% endif %}

<div class="row rowmateriales">
  <h3>Peticion de material</h3>
  {% for m in entity.materiales %}
  <a href="#" class="">
    <img class="botones pedidomaterial peticion" src="{{"/images/uploads/" ~m.foto }}" alt="{{ m.nombre }}" width="200px" height="60px">
    <input type="hidden" name="hiddenmaterialid" value="{{ m.id }}">
    <input type="hidden" name="pedidoid" value="">
  </a>
  {% endfor %}
</div>

{% endfor %}
{% endif %}
{% endblock %}
