{% extends '::_lte_backend.html.twig' %}

{% form_theme form 'SuperlineaBundle:Form:fields.html.twig' %}

{% block title %}Instrucciones{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block body %}
    {{ parent() }}
    {% block content %}

        <div class="wrapper row-offcanvas row-offcanvas-left">

            {% include '_lte_menu.html.twig' with {'option': 'instruccion_edit'} %}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Nueva Instrucción
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                    {% include '_lte_ag_alerts.html.twig' %}

                    <div class="row">
                        <div class="col-md-12">

                            <form id="formulario" action="{{ path('instruccion_create') }}"
                                  method="post" {{ form_enctype(form) }}>

                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title"></h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="form-group">
                                            {{ form_label(form.nombre,'Nombre: ' | trans)}}
                                            {{ form_errors(form.nombre) }}
                                            {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control' }}) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.referencia,'Referencia: ' | trans )}}
                                            {{ form_errors(form.referencia) }}
                                            {{ form_widget(form.referencia,{ 'attr': {'class': 'form-control' }}) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.proceso,'Proceso: ' | trans ) }}
                                            {{ form_errors(form.proceso) }}
                                            {{ form_widget(form.proceso,{ 'attr': {'class': 'form-control' }}) }}
                                        </div>

                                        {#<div class="form-group">#}
                                            {#{{ form_label(form.materiales) }}#}
                                            {#{{ form_errors(form.materiales) }}#}
                                            {#&#123;&#35;{{ form_widget(form.materiales,{ 'attr': {'class': 'form-control' }}) }}&#35;&#125;#}
                                            {#{{ form_widget(form.materiales, {'attr': {'class': attr.widget_class|default('')}}) }}#}
                                        {#</div>#}

                                        <div class="box box-solid box-success">
                                            <div class="box-header">
                                                <h3 class="box-title">Materiales relacionados</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="form-group">
                                                    {{ form_errors(form.materiales) }}
                                                    {{ form_widget(form.materiales, {'attr': {'class': attr.widget_class|default('') }}
                                                    ) }}
                                                </div>
                                            </div>
                                            <!-- /.box-body -->

                                        </div>

                                        <div class="form-group">
                                            {% if entity.foto %}
                                                <div>
                                                    <img src="{{ "/images/uploads/" ~ entity.foto }}"
                                                         alt="Imagen de la instrucción" width="150px"
                                                         height="150px">
                                                </div>
                                            {% endif %}
                                            {{ form_label(form.image) }}
                                            {{ form_errors(form.image) }}
                                            {{ form_widget(form.image,{ 'attr': {'class': 'form-control' }}) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.videofile, 'Video: ' | trans ) }}
                                            {{ form_errors(form.videofile) }}
                                            {{ form_widget(form.videofile,{ 'attr': {'class': 'form-control' }}) }}
                                        </div>

                                        <div class="form-group" style="display: none;">
                                            <label for="urlyoutube" class="title milabel">Pega la dirección del video en
                                                youtube:</label>
                                            <input type="text" id="urlyoutube" class="input xlarge" name="urlyoutube"
                                                   value=""/>
                                            <label for="delurl" class="title milabel">El id del video youtube
                                                es:</label>
                                            <span id="delurl" class="input xlarge">{{ entity.youtube }}</span>
                                            <input type="button" name="btn_delurl" id="btn_delurl" value="Eliminar">
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            {{ form_label(form.youtube,'Dirección Youtube: ' | trans,{'attr': {'class': 'title milabel' }}
                                            ) }}
                                            {{ form_errors(form.youtube) }}
                                            {{ form_widget(form.youtube,{ 'attr': {'class': 'input xlarge' }}) }}
                                        </div>
                                        <div class="form-group" style="display: none;">
                                            {{ form_label(form.referencia) }}
                                            {{ form_errors(form.referencia) }}
                                            {{ form_widget(form.referencia,{ 'attr': {'class': 'form-control' }}) }}
                                        </div>

                                        {{ form_rest(form) }}

                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-primary">Crear</button>
                                        </div>

                                    </div>
                                    <!-- /.box -->
                                </div>

                            </form>

                        </div>
                    </div>

                </section>
                <!-- /.content -->
            </aside>
            <!-- /.right-side -->
        </div><!-- ./wrapper -->
    {% endblock %}
{% endblock %}

