{% extends '::admin.html.twig' %}

{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">Acciones</li>
        <li>
            <a href="{{ path('instruccion') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('instruccion_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('instruccion_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>

{% endblock %}

{% block content %}
<h1>Instruccion {{ entity.nombre }} </h1>

<table class="table table-condensed table-hover table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Imagen</th>
            <td><img src="{{"/images/uploads/" ~ entity.foto }}"></td>
        </tr>
        <tr>
            <th>Video</th>
            <td>{% if entity.video %}<a href="{{ entity.video }}">Ver video</a>{% endif %}</td>
        </tr>
        <th>Materiales</th>
        <td>{% for m in entity.materiales %}<a href="{{ path('material_show',{ 'id': m.id}) }}"><span class="label label-info">{{ m.nombre }}</span></a> {% endfor %}</td>
    </tbody>
</table>

{% endblock %}