{% for instruccion in instrucciones %}
  <div class="draginstruccion caja miinstruccion">
    <span class="badge badge-success mitooltip" title="{{ instruccion.nombre }}">{{ instruccion.nombre | slice(0,10) }}</span>
    <input type="hidden" name="  instruccionid" value="{{ instruccion.id }}" />
  </div>
{% endfor %}