{% extends '::configurador.html.twig' %}

{% block content %}
<h1>Editar registro </h1>

<div class="row-fluid">
    <div class="span4"></div>
    <div class="span4">
        <form action="{{ path('registro_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <p>
                <button class="btn btn-success" type="submit">Grabar</button>
            </p>
        </form>
    </div>
    <div class="span4"></div>
</div>

{% endblock %}
