{% extends '::admin.html.twig' %}

{% block tabtitulo %}Historico{% endblock %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/superlinea/js/registros.js') }}"></script>
{% endblock %}

{% block sidebar %}
    <ul class="unstyled menuaborde">
        <li><a href="{{ path('registro') }}">Registro</a></li>
        <li>
          <ul class="unstyled">
            <li><a href="#filtrofecha" id="fancyBoxLink"><img class="btnfilter" src="{{ asset('/bundles/superlinea/img/prismaticos.png') }}" alt="Buscar">&nbsp;{{"Filtrar"|trans}}</a></a></li>
          </ul>
        </li>
        <li><a href="{{ path('pedido') }}">Pedido</a></li>
    </ul>
{% endblock %}

{% block content %}

<h3 class="h3titulo">Registro de historico de registros:</h3>

<table class="table table-condensed table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Registro Nº</th>
      <th>Fecha</th>
      <th>Proceso</th>
      <th>Lineas</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entities %}
      <tr>
        <td>{{ entity.id }}</td>
        <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
        <td><a href="{{ path('puesto_config', { 'id': entity.producto.id }) }}"><span class="label label-info">{{ entity.producto.nombre }}</span></a></td>
        <td>{% for linea in entity.lineas %}<span class="label label-success">{{ linea.nombre }}</span> {% endfor %}</td>
        <td>&nbsp;</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div id="filtrofecha" style="display:none">
  <form action="{{ path('registro') }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <p style="text-align:center;">
          <button type="submit">Filtrar</button>
      </p>
  </form>
</div>

{% endblock %}