{% extends '::_lte_backend.html.twig' %}

{% block title %}Procesos{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block body %}
{{ parent() }}
{% block content %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

    {% include '_lte_menu.html.twig' with {'option': 'proceso_edit'} %}

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Editar proceso
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

    {% include '_lte_ag_alerts.html.twig' %}

    <div class="row">
    <div class="col-md-12">

        <form id="formulario" action="{{ path('producto_update', { 'id': entity.id }) }}"
              method="post" {{ form_enctype(form) }}>
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class='form-group'>
                        {{ form_label(form.nombre,'Nombre: ' | trans) }}
                        {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control' }}) }}
                    </div>
                </div><!-- /.box-body -->

                {{ form_rest(form) }}

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>

            </div><!-- /.box -->
        </form>

    </div>
    </div>

    </section><!-- /.content -->
    </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
{% endblock %}
{% endblock %}