{% extends '::_lte_backend.html.twig' %}

{% block title %}Procesos{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.css') }}" type="text/css"
          media="screen"/>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script type="text/javascript" src="{{ asset('bundles/superlinea/fancybox/jquery.browser.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript">

        $(function () {
            var oTable = $('#pt_penalties_list').dataTable({
                "aoColumnDefs": [
                    { "sWidth": "90px", "aTargets": [ 0 ] }
                ],
                "oLanguage": {
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });
        });

        $(document).ready(function () {
            $(".fancybox").fancybox({
//                autoDimensions: false,
//                height: 600,
//                width: 900
                'width': '1020',
                'height': '600',
                'autoScale': false,
                'autoDimensions': false,
                'scrolling': 'visible',
                'fitToView': true,
                'type': 'iframe'
            });
            $('.fancyoutube').fancybox();
        });

    </script>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% block content %}

        <div class="wrapper row-offcanvas row-offcanvas-left">

            {% include '_lte_menu.html.twig' with {'option': 'proceso'} %}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Proceso
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="row">
                        <div class="col-xs-12">

                            {% include '_lte_ag_alerts.html.twig' %}

                            <div class="box">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->

                                <div class="box-body table-responsive">
                                    <a class="btn btn-primary" href="{{ path('producto_new') }}">Nuevo Proceso</a><br/><br/>

                                    <table id="pt_penalties_list"
                                           class="table table-condensed table-hover table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nombre</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for entity in entities %}
                                            <tr>
                                                <td class="tdacciones2">
                                                    <ul class="list-unstyled ullinea ulacciones">
                                                        <li class="enlinea">
                                                            <a class="fancybox" data-fancybox-type="iframe"
                                                               href="{{ path('puesto_config', { 'id': entity.id }) }}"><img
                                                                        src="{{ asset('bundles/superlinea/img/gear18.png') }}"
                                                                        alt="Editar">&nbsp;{{ "Configurar" | trans }}
                                                            </a>
                                                        </li>
                                                        <li class="enlinea">
                                                            <a href="{{ path('producto_edit', { 'id': entity.id }) }}"><img
                                                                        src="{{ asset('bundles/superlinea/img/editar18.png') }}"
                                                                        alt="Editar">&nbsp;{{ "Editar" | trans }}</a>
                                                        </li>
                                                        <li class="enlinea"><a
                                                                    href="{{ path('producto_delete', { 'id': entity.id }) }}"
                                                                    onclick="return confirm('¿Seguro que desea eliminar?');"><img
                                                                        src="{{ asset('bundles/superlinea/img/eliminar18.png') }}"
                                                                        alt="Eliminar">&nbsp;{{ "Eliminar" |trans }}</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td><a class="fancybox" data-fancybox-type="iframe"
                                                       href="{{ path('puesto_config', { 'id': entity.id }) }}">{{ entity.nombre }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>

                </section>
                <!-- /.content -->
            </aside>
            <!-- /.right-side -->
        </div><!-- ./wrapper -->


        </div>

    {% endblock %}
{% endblock %}

