{% extends '::_lte_backend.html.twig' %}

{% block title %}Lanzador{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.css') }}" type="text/css"
          media="screen"/>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% block content %}

        <div class="wrapper row-offcanvas row-offcanvas-left">

            {% include '_lte_menu.html.twig' with {'option': 'lanzador'} %}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Lanzador
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                    {% include '_lte_ag_alerts.html.twig' %}

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-warning">
                                <div class="box-header" style="cursor: move;">
                                    <i class="fa fa-calendar"></i>
                                    <div class="box-title">Lanzamientos actuales</div>
                                </div>
                                <div class="box-body ">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                        <th></th>
                                        <th>Proceso</th>
                                        <th>Lineas</th>
                                        <th>Inicio</th>
                                        <th>Fin</th>
                                        </thead>
                                        <tbody>
                                        {% for a in actuales %}
                                            <tr>
                                                <td><a class="btn btn-danger btn-mini"
                                                       href="{{ path('registro_delete', { 'id': a.id , 'token': csrf_token(a.csrfIntention('delete')) }) }}"
                                                       onclick="return   confirm('¿Seguro que desea eliminar?');"><i
                                                                class="icon-trash icon-white"></i> Cancelar</a></td>
                                                <td>{{ a.producto.nombre }}</td>
                                                <td>{% spaceless %}
                                                        {% if a.lineas %}
                                                            {% for l in a.lineas %}
                                                                <span class="label label-info">{{ l.nombre }}</span>&nbsp;
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endspaceless %}
                                                </td>
                                                {% if a.fecha is null %}
                                                    <td>&nbsp;</td>
                                                {% else %}
                                                    <td>{{ a.fecha | date('Y-m-d') }}</td>
                                                {% endif %}
                                                {% if a.fechafin is null %}
                                                    <td>&nbsp;</td>
                                                {% else %}
                                                    <td>{{ a.fechafin | date('Y-m-d') }}</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer">

                                </div>
                            </div>
                            <div class="box box-warning">
                                <div class="box-header">
                                    <i class="fa fa-bolt"></i>
                                    <div class="box-title">Programar lanzamiento</div>
                                </div>
                                <form id="formu" action="{{ path('registro_create') }}" method="post" {{ form_enctype(form) }}>
                                    <div class="box-body">
                                        <div class='form-group'>
                                            {{ form_label(form.producto,'Proceso: ' | trans) }}
                                            {{ form_widget(form.producto,{ 'attr': {'class': 'form-control' }}) }}
                                        </div>
                                        <div class='form-group'>
                                            {{ form_label(form.lineas,'Lineas: ' | trans) }}
                                            {{ form_widget(form.lineas,{ 'attr': {'class': 'form-control' }}) }}
                                        </div>

                                        <div class="form-group">
                                            <label>Rango fechas:</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" id="reservation">
                                            </div><!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <div style="display: none;">
                                            {{ form_rest(form) }}
                                        </div>

                                        <div class="box-footer">
                                            <button id="btnbidali" type="submit" class="btn btn-primary">Lanzar</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            {% if existe == 1 %}
                                <div id="lanzadorerror" style="display:none;">
                                    <div class="alert alert-error">
                                        <h4>Revise su configuración.</h4>

                                        <p>Ya existe un lanzamiento con los parametros especificados.</p>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn_fancy_itxi">Cerrar</button>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                </section>
                <!-- /.content -->
            </aside>
            <!-- /.right-side -->
        </div><!-- ./wrapper -->
    {% endblock %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/superlinea/fancybox/jquery.browser.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/superlinea/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/superlinea/js/registros.js') }}"></script>
{% endblock %}