{% extends '::configurador.html.twig' %}

{% block sidebar %}
<div class="gitektitulo inline ezkerretara">
    <h1>Proceso {{ entity.nombre }} </h1>
</div>

<div class="btn-group inline eskuinetara">
    <button class="btnaddpuesto">Añadir puesto</button>
  </div>

{% endblock %}

{% block content %}

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Linea 1</a></li>
    <li><a href="#tab2" data-toggle="tab">Linea 2</a></li>
    <li><a href="#tab3" data-toggle="tab">Linea 3</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      {% include 'SuperlineaBundle:Producto:tab.html.twig' %}
    </div>
    <div class="tab-pane" id="tab2">
      {% include 'SuperlineaBundle:Producto:tab.html.twig' %}
    </div>
    <div class="tab-pane" id="tab3">
      {% include 'SuperlineaBundle:Producto:tab.html.twig' %}
    </div>
  </div>
</div>



{% endblock %}