<div class="content">

    <div class="grande">

        <div class="divpuestos">

            <div class="divmesa">
                <span></span>
            </div>

        </div>

    </div>

</div>
