
<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>Superlinea | Log in</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    {% block stylesheets %}

        {% stylesheets  '@SuperlineaBundle/Resources/public/css/bootstrap.css'
                        '@SuperlineaBundle/Resources/public/css/AdminLTE.css'
                        output='css/lte_login.css' filter='cssrewrite' %}
                        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
                        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        {% endstylesheets %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    {% endblock %}

</head>
<body class="bg-black">

<div class="form-box" id="login-box">
    <div class="header">Acceso Superlinea</div>
    {% block form_login %}
    {% endblock %}

</div>

{% block javascripts %}

    {% javascripts  '@SuperlineaBundle/Resources/public/js/jquery.2.0.2.min.js'
                    '@SuperlineaBundle/Resources/public/js/bootstrap.3.0.3.min.js'
                        output='js/lte_login.js' %}
                    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

{% endblock %}

</body>
</html>