{% extends '_lte_base.html.twig' %}

{% block stylesheets %}

    {% stylesheets  '@SuperlineaBundle/Resources/public/css/bootstrap.css'
                    '@SuperlineaBundle/Resources/public/css/morris/morris.css'
                    '@SuperlineaBundle/Resources/public/css/jvectormap/jquery-jvectormap-1.2.2.css'
                    '@SuperlineaBundle/Resources/public/css/datatables/dataTables.bootstrap.css'
                    '@SuperlineaBundle/Resources/public/css/daterangepicker/daterangepicker-bs3.css'
                    '@SuperlineaBundle/Resources/public/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'
                    '@SuperlineaBundle/Resources/public/css/AdminLTE.css'
                    '@SuperlineaBundle/Resources/public/css/lte_redesign.css'
                    output='css/lte_backend.css' filter='cssrewrite' %}
                    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
                    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

{% endblock %}

    {% block header %}
        {% include '_lte_header.html.twig' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include '_lte_footer.html.twig' %}
    {% endblock %}


{% block javascripts %}
    {% javascripts  '@SuperlineaBundle/Resources/public/js/jquery.2.0.2.min.js'
                    '@SuperlineaBundle/Resources/public/js/jquery-ui-1.10.3.min.js'
                    '@SuperlineaBundle/Resources/public/js/bootstrap.3.0.3.min.js'
                    '@SuperlineaBundle/Resources/public/js/raphael.2.1.0.min.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/morris/morris.min.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/sparkline/jquery.sparkline.min.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/jqueryKnob/jquery.knob.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/iCheck/icheck.min.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/datatables/jquery.dataTables.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/datatables/dataTables.bootstrap.js'
                    '@SuperlineaBundle/Resources/public/js/plugins/daterangepicker/daterangepicker.js'
                    '@SuperlineaBundle/Resources/public/js/AdminLTE/app.js'
                        output='js/lte_backend.js' %}
                        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}