{% extends '::base.html.twig' %}

{% block title %}BACKEND{% endblock %}

{% block stylesheets %}
<style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
</style>
    {% stylesheets  '@SuperlineaBundle/Resources/public/css/bootstrap.css'
                    '@SuperlineaBundle/Resources/public/css/bootstrap-responsive.min.css'
                    '@SuperlineaBundle/Resources/public/css/jquery-ui-1.9.0.custom.min.css'
                    '@SuperlineaBundle/Resources/public/css/redesign.css'
               output='css/backend.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts  '@SuperlineaBundle/Resources/public/js/jquery-1.8.2.min.js'
                    '@SuperlineaBundle/Resources/public/js/jquery-ui-1.9.0.custom.min.js'
                    '@SuperlineaBundle/Resources/public/js/modernizr-2.6.1-respond-1.1.0.min.js'
                    '@SuperlineaBundle/Resources/public/js/bootstrap.min.js'
                    '@SuperlineaBundle/Resources/public/js/youtube.js'
                    '@SuperlineaBundle/Resources/public/js/admin.js'
                    '@SuperlineaBundle/Resources/public/js/configurador.js'
                    '@SuperlineaBundle/Resources/public/js/redesign.js'
                    output='js/backend.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block body %}

    {% block nav %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#"></a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Gestión<b
                                            class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header">Registros</li>
                                    <li><a href="{{ path('registro') }}">Historico de registros</a>
                                    <li class="divider"></li>
                                    <li class="nav-header">Pedidos</li>
                                    <li><a href="{{ path('pedido') }}">Historico de pedidos</a>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Maestros<b
                                            class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('producto') }}">Productos</a></li>
                                    <li><a href="{{ path('tablet') }}">Tablets</a></li>
                                    <li><a href="{{ path('instruccion') }}">Instrucciones</a></li>
                                    <li><a href="{{ path('material') }}">Materiales</a></li>
                                    <li><a href="{{ path('linea') }}">Lineas</a></li>
                                    <li><a href="{{ path('usuario') }}">Usuarios</a>
                                </ul>
                            </li>
                            <li><a href="{{ path('lanzador') }}">Lanzador</a></li>

                            {% if app.request.get('_route') == "puesto_config" %}
                                <p class="navbar-text pull-right">
                                    <a id="btnAddPuesto" class="btn btn-warning btn-xs" href="#myModal" data-toggle="modal">Añadir puesto</a>
                                </p>
                            {% endif %}

                        </ul>
                        <p class="navbar-text pull-right">
                            <a href="#" class="navbar-link">Irten</a>
                        </p>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    {% endblock %} <!-- NAV -->

  <div class="container-fluid">
    <div class="bordetitulo">
      <h3>{% block tabtitulo %}{% endblock %}</h3>
    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="flash-notice alert-message success">
        <label class="label label-info">{{ flashMessage }}</label>
      </div>
    {% endfor %}
    <div class="row-fluid">
      <div class="fila">
          <div class="kolumnaezkerra"><div></div></div>
          <div class="sidebar kolumna">
            {% block sidebar %}{% endblock %}
          </div>
          <div class="content kolumna">
            {% block content %}{% endblock %}
          </div>
          <div class="kolumnaeskuina"></div>
      </div>

    </div>
    <div id="divfooter"></div>
  </div>

    <footer>
      <br>
      <p>  &copy; Gitek 2012</p>
    </footer>
  </div> <!-- /container -->

{% endblock %}
