{% extends '::admin.html.twig' %}

{% block stylesheets %}
<style>
    /*body {*/
      /*padding-top: 60px;*/
      /*padding-bottom: 40px;*/
    /*}*/
</style>
    {% stylesheets  '@SuperlineaBundle/Resources/public/css/bootstrap.css'
                    '@SuperlineaBundle/Resources/public/css/bootstrap-responsive.min.css'
                    '@SuperlineaBundle/Resources/public/css/jquery-ui-1.9.0.custom.min.css'
                    '@SuperlineaBundle/Resources/public/css/redesign.css'
                    '@SuperlineaBundle/Resources/public/css/estiloa.css'
               output='css/configurador.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts  '@SuperlineaBundle/Resources/public/js/jquery-1.8.2.min.js'
                    '@SuperlineaBundle/Resources/public/js/jquery-ui-1.9.0.custom.min.js'
                    '@SuperlineaBundle/Resources/public/js/modernizr-2.6.1-respond-1.1.0.min.js'
                    '@SuperlineaBundle/Resources/public/js/bootstrap.min.js'
                    '@SuperlineaBundle/Resources/public/js/handlebars.js'
                    '@SuperlineaBundle/Resources/public/js/handlebars-helpers.js'
                    '@SuperlineaBundle/Resources/public/js/configurador.js'
                    output='js/backend_configurador.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

  <div class="container-fluid">
    <div class="row-fluid">
        {% block sidebar %}{% endblock %}
    </div>
    <div class="row-fluid">
      {% block content %}{% endblock %}
    </div>
  </div>

  {% block footer %}
  {% endblock %}
  </div> <!-- /container -->

  <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
