{% extends '::base.html.twig' %}

{% block title %}Instrucciones{% endblock %}

{% block stylesheets %}
    {% stylesheets  '@SuperlineaBundle/Resources/public/css/bootstrap.css'
                    '@SuperlineaBundle/Resources/public/css/bootstrap-responsive.min.css'
                    '@SuperlineaBundle/Resources/public/css/estiloa_instruccion.css'
               output='css/instruccion.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts  '@SuperlineaBundle/Resources/public/js/jquery-1.8.2.min.js'
                    '@SuperlineaBundle/Resources/public/js/miinstruccion.js'
                    output='js/instruccion.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

  <div class="container">
    {% block content %}{% endblock %}
  </div>

    <footer>
      <p>  &copy; Gitek 2012</p>
    </footer>
  </div> <!-- /container -->

{% endblock %}
