{% extends '::base.html.twig' %}

{% block title %}Isla{% endblock %}

{% block stylesheets %}
    {% stylesheets  '@SuperlineaBundle/Resources/public/css/bootstrap.css'
                    '@SuperlineaBundle/Resources/public/css/bootstrap-responsive.min.css'
                    '@SuperlineaBundle/Resources/public/css/estiloa_isla.css'
               output='css/isla.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    <style>
        .navbar { display:none;}
    </style>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts  '@SuperlineaBundle/Resources/public/js/jquery-1.8.2.min.js'
                    '@SuperlineaBundle/Resources/public/js/miisla.js'
                    output='js/isla.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
  {% block nav %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#"></a>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  {% endblock %} <!-- NAV -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>

    <footer>
      <p>  &copy; Gitek 2012</p>
    </footer>
  </div> <!-- /container -->

{% endblock %}
