{% extends '::_lte_backend.html.twig' %}

{% block title %}Materiales{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block body %}
    {{ parent() }}
    {% block content %}

        <div class="wrapper row-offcanvas row-offcanvas-left">

            {% include '_lte_menu.html.twig' with {'option': 'material_edit'} %}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Editar material
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                    {% include '_lte_ag_alerts.html.twig' %}

                    <div class="row">
                        <div class="col-md-12">
                            <form action="{{ path('material_update', { 'id': entity.id }) }}"
                                  method="post" {{ form_enctype(edit_form) }}>
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title"></h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">

                                        <div class="box">
                                            <div class="box-header" style="cursor: move;">
                                                <i class="fa fa-list-alt"></i>

                                                <h3 class="box-title">Ficha</h3>
                                                <!-- tools box -->
                                                <div class="pull-right box-tools">

                                                </div>
                                                <!-- /. tools -->
                                            </div>
                                            <div class="box-body">
                                                <div class="form-group">
                                                    {{ form_label(edit_form.nombre,'Nombre: ' | trans) }}
                                                    {% if edit_form.nombre.vars.errors|length %}
                                                        <div class="alert alert-danger alert-dismissable">
                                                            {{ form_errors(edit_form.nombre) }}
                                                        </div>
                                                    {% endif %}
                                                    {{ form_widget(edit_form.nombre,{ 'attr': {'class': 'form-control' }}
                                                    ) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(edit_form.referencia,'Referencia: ' | trans) }}
                                                    {% if edit_form.referencia.vars.errors|length %}
                                                        <div class="alert alert-danger alert-dismissable">
                                                            {{ form_errors(edit_form.referencia) }}
                                                        </div>
                                                    {% endif %}
                                                    {{ form_widget(edit_form.referencia,{ 'attr': {'class': 'form-control' }}
                                                    ) }}
                                                </div>

                                                <div class="form-group">
                                                    {{ form_label(edit_form.codbar,'Cód Bar: ' | trans) }}
                                                    {% if edit_form.codbar.vars.errors|length %}
                                                        <div class="alert alert-danger alert-dismissable">
                                                            {{ form_errors(edit_form.codbar) }}
                                                        </div>
                                                    {% endif %}
                                                    {{ form_widget(edit_form.codbar,{ 'attr': {'class': 'form-control' }}
                                                    )
                                                    }}
                                                </div>

                                            </div>
                                            <div class="box-footer clearfix">

                                            </div>
                                        </div>
                                        <div class="box box-danger">
                                            <div class="box-header" style="cursor: move;">
                                                <i class="fa fa-picture-o"></i>

                                                <h3 class="box-title">Multimedia</h3>
                                                <!-- tools box -->
                                                <div class="pull-right box-tools">

                                                </div>
                                                <!-- /. tools -->
                                            </div>
                                            <div class="box-body">
                                                <div class="form-group">
                                                    {{ form_label(edit_form.image) }}

                                                    <br/>

                                                    <div>
                                                        {% if entity.foto %}
                                                            <a class="fancyoutube"
                                                               href="{{ "/images/uploads/" ~ entity.foto }}"><img
                                                                        src="{{ vich_uploader_asset(entity, 'image') | imagine_filter('my_thumb') }}"/></a>
                                                        {% endif %}
                                                    </div>

                                                    <br/>

                                                    {% if edit_form.image.vars.errors|length %}
                                                        <div class="alert alert-danger alert-dismissable">
                                                            {{ form_errors(edit_form.image) }}
                                                        </div>
                                                    {% endif %}
                                                    {{ form_widget(edit_form.image, { 'attr': {'class': 'form-control' }}
                                                    )
                                                    }}
                                                    <span class="label label-inverse">La imagen debe de estar en formato PNG.</span>
                                                </div>
                                            </div>
                                            <div class="footer">

                                            </div>
                                        </div>

                                        {{ form_rest(edit_form) }}

                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-primary">Grabar</button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </section>
                <!-- /.content -->
            </aside>
            <!-- /.right-side -->
        </div><!-- ./wrapper -->
    {% endblock %}
{% endblock %}