{% extends '::admin.html.twig' %}

{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">Acciones</li>
        <li>
            <a href="{{ path('material') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('material_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('material_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn " type="submit">Eliminar</button>
            </form>
        </li>
    </ul>

{% endblock %}

{% block content %}

<h1>Instruccion {{ entity.nombre }} </h1>

<table class="table table-condensed table-hover table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Código de barras</th>
            <td>{{ entity.codbar }}</td>
        </tr>        
        <tr>
            <th>Foto</th>
            <td><img src="{{"/images/uploads/" ~ entity.foto }}"></td>
        </tr>
    </tbody>
</table>

{% endblock %}
