{% extends '::admin.html.twig' %}

{% block sidebar %}
        <ul class="nav nav-list">
            <li class="nav-header">Acciones</li>
            <li>
                <a href="{{ path('pedido') }}">
                Volver a la lista
                </a>
            </li>
            <li>
                <form action="{{ path('pedido_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        </ul>

{% endblock %}

{% block content %}
<h1>Editar pedido</h1>

<form action="{{ path('pedido_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-success" type="submit">Grabar</button>
    </p>
</form>
{% endblock %}
