{% extends '::admin.html.twig' %}

{% block tabtitulo %}Historico{% endblock %}

{% block sidebar %}
    <ul class="unstyled menuaborde">
        <li><a href="{{ path('registro') }}">Registro</a></li>
        <li><a href="{{ path('pedido') }}">Pedido</a></li>
    </ul>
{% endblock %}

{% block content %}

<h3 class="h3titulo">Registro de historico de pedidos:</h3>

<table class="table table-condensed table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Material</th>
            <th>Entregado</th>
            <th>Proceso</th>
            <th>Linea</th>
            <th>Puesto</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.material %}{{ entity.material.nombre }}{% endif %}</td>
            <td>{% if entity.entregado == 1 %}Si{% else %}No{% endif %}</td>
            <td>{{ entity.producto.nombre }}</td>
            <td>{{ entity.linea.nombre }}</td>
            <td>{{ entity.puesto.tablet.nombre }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
