{% extends '::isla.html.twig' %}

{% block content %}
    <div class="hero-unit">

        <h1></h1>
        <h2 class="mih2">Comprobando pedidos...</h2>
        <div id="divimagenmaterial" class="row" style="display:none;">
            <div class="material">
                <img id="imagenpedidomaterial" src="" alt="">
                <div id="divcodbar" style="display:none;">
                  <label for="checkcodbar">Comprobar lector código de barras:</label>
                  <input id="checkcodbar" type="text" name="checkcodbar" value="" placeholder="Código Barras">
                </div>
                <div>
                  <a id="btn-eliminar-pedido" href="#" class="btn btn-danger">Eliminar</a>
                </div>
                <div id="divmaterialincorrecto" style="display:none;">
                  <p>Material incorrecto!</p>
                  <div class="imagenincorrecto"></div>
                </div>
                <div id="divmaterialcorrecto" style="display:none;">
                  <p>Material correcto</p>
                  <div class="imagencorrecto"></div>
                </div>
                <div style="display:none;">
                  <input id="pedidoid" type="text" name="pedidoid" value="">
                  <input id="puestoid" type="text" name="puestoid" value="">
                </div>
            </div>
        </div>
        <div id="divdatuak" class="row" style="display:none;">
            <h2>Posición:</h2>
            <div class="mapa">
              <div class="grande">
                <div class="divpuestos">

                  <div class="divmesa"></div> <!-- div.divmesa -->
                </div> <!-- div.divpuestos -->
              </div> <!-- div.grande -->
            </div>
        </div>
    </div>
{% endblock %}
