{% extends '::admin.html.twig' %}

{% block sidebar %}
        <ul class="nav nav-list">
            <li class="nav-header">Acciones</li>
            <li>
                <a href="{{ path('pedido') }}">
                Volver a la lista
                </a>
            </li>
        </ul>

{% endblock %}

{% block content %}

<h1>Pedido creation</h1>

<form action="{{ path('pedido_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}