{% extends '::admin.html.twig' %}

{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">Acciones</li>
        <li>
            <a href="{{ path('pedido') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('pedido_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('pedido_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>

{% endblock %}

{% block content %}

<h1>Pedido</h1>

<table class="table table-condensed table-hover table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Created_at</th>
            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated_at</th>
            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
