{% extends '::_lte_backend.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block body %}
    {{ parent() }}
    {% block content %}

        <div class="wrapper row-offcanvas row-offcanvas-left">

            {% include '_lte_menu.html.twig' with {'option': 'dashboard'} %}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboar
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Wellcome</h3>
                        </div>
                    </div>

                </section>
                <!-- /.content -->
            </aside>
            <!-- /.right-side -->
        </div><!-- ./wrapper -->


        </div>

    {% endblock %}
{% endblock %}
