{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="body bg-gray">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Usuario"/>
            </div>

            <div class="form-group">
                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password"/>
            </div>

            <div style="display: none;">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

        </div>
        <div class="footer">
            <input type="submit" class="btn bg-olive btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </form>
{% endblock fos_user_content %}