{% extends '::admin.html.twig' %}

{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">Acciones</li>
        <li>
            <a href="{{ path('linea') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('linea_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('linea_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>

{% endblock %}

{% block content %}

<h1>Instruccion {{ entity.nombre }} </h1>
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}