// Bariableak
TITULOA_KOLOREA = #1D93C5
BORDER_KOLOREA = #E4E4E4
BORDER_TAMAINA = 4px
URL_KOLOREA = #0069D6

// *********************************************************************************************
// ***** Mixins
// *********************************************************************************************
border-radius(a1 a2 a3 a4)
  -webkit-border-radius a1 a2 a3 a4
  -moz-border-radius a1 a2 a3 a4
  border-radius a1 a2 a3 a4

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  background-color startColor
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(to startPoint, startColor, endColor); /* Standard syntax; must be last */


.brand
  background-image url('/bundles/superlinea/img/bg_header.png') !important
  background-repeat: no-repeat;
  background-size: 348px 40px;
  // background-position: center bottom;
  display:inline-block;
  height:20px;
  width:348px;

// a.brand:hover
//   color darken(#fff, 85) !important
.bordetitulo
  // background url("../bundles/superlinea/img/bg_tab.png") no-repeat scroll 7px -3px transparent
  border-top BORDER_TAMAINA BORDER_KOLOREA solid
  border-left BORDER_TAMAINA BORDER_KOLOREA solid
  border-right BORDER_TAMAINA BORDER_KOLOREA solid
  border-bottom 0px #fff solid
  border-radius: 10px 10px 0px 0px
  display inline-block
  height: 38px;
  margin: 0;
  width: 212px;
  h3
    border: 0 none
    color: TITULOA_KOLOREA
    font-size: 22px;
    font-weight: bold;
    line-height 0px
    margin-top 16px
    text-align center

// BALIABIDEAK
.enlinea
  display inline-block
  margin-left 5px

.invisible
  display none

// NAVIGATION
.navbar-inverse .navbar-inner
  background-image url('../bundles/superlinea/img/bg_header.png') !important
  background-repeat:no-repeat;
  background-size:183px 40px;
  background-linear-gradient(  bottom, #0088CC, 45%, #0044CC, 55%) !important

.navbar-inverse  .btn-navbar
    background-linear-gradient(  bottom, #0088CC, 45%, #0044CC, 55%) !important

.navbar-inverse .navbar-link
  color #fff
.navbar-inverse .navbar-link:hover
  color darken(#fff, 80)

.navbar-inverse .brand, .navbar-inverse .nav > li > a
  color #fff
.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover
  color darken(#fff, 80)

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover
  color darken(#fff, 80)

.navbar-inverse .navbar-inner .container
  // margin-left 190px
  // margin-left 50px
  // width 80%


// FLASH-NOTICE
.flash-notice
  width 400px
  display inline-block
  margin-left 100px

// SIDEBAR
.row-fluid
  position relative
  display table
  border-top BORDER_TAMAINA BORDER_KOLOREA solid

.sidebar
  padding 19px
  width 20%
  min-width 188px
  a
    font-size 1.3em
    margin 0
    color URL_KOLOREA
    text-decoration none
  a:hover
    text-decoration: underline;


.content
    width 100%

.menuaborde
    border BORDER_TAMAINA solid BORDER_KOLOREA
    border-radius: 10px 10px 10px 10px
    padding: 3px 0 3px 3px
    position: absolute
    top: 15px
    width: 13% !important

.fila
    display table-row
    width 100%

.kolumna
  display table-cell !important

.kolumnaezkerra
    border-left BORDER_TAMAINA solid BORDER_KOLOREA
    display table-cell

.kolumnaeskuina
    border-right BORDER_TAMAINA solid BORDER_KOLOREA
    display table-cell

// CONTENT
.content
  padding-right 20px

  .h3titulo
    border 0 none
    color TITULOA_KOLOREA
    font-size 26px
    font-weight bold
    line-height 24px
    margin 10px 0 10px

  table
    td
      padding-left 10px
.divlanzador
  margin 0 auto
  text-align center
  width 300px

.tdacciones
  width 200px
  padding-left 2px !important

.tdacciones2
  width 250px
  padding-left 2px !important

#divfooter
  border-color: BORDER_KOLOREA
  border-image: none;
  border-radius: 0 0 13px 13px;
  border-style: none solid solid;
  border-width: 0 BORDER_TAMAINA BORDER_TAMAINA

.dropinstruccion {
  text-align: center;
}

#urlyoutube
  width 350px


.btnfilter
  width 20px
  height 20px