{% extends '::_lte_backend.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block body %}
    {{ parent() }}
    {% block content %}

        <div class="wrapper row-offcanvas row-offcanvas-left">

            {% include '_lte_menu.html.twig' with {'option': 'usuario_edit'} %}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Editar Usuario
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                    {% include '_lte_ag_alerts.html.twig' %}

                    <div class="row">
                        <div class="col-md-12">

                            <form action="{{ path('usuario_update', { 'id': entity.id }) }}"
                                  method="post" {{ form_enctype(edit_form) }}>
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title"></h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">

                                        <div class="box">
                                            <div class="box-header" style="cursor: move;">
                                                <i class="fa fa-list-alt"></i>

                                                <h3 class="box-title">Ficha</h3>
                                                <!-- tools box -->
                                                <div class="pull-right box-tools">

                                                </div>
                                                <!-- /. tools -->
                                            </div>
                                            <div class="box-body">
                                                <div class="form-group">
                                                    {{ form_label(edit_form.nombre,'Nombre: ' | trans) }}
                                                    {{ form_errors(edit_form.nombre) }}
                                                    {{ form_widget(edit_form.nombre,{ 'attr': {'class': 'form-control' }}
                                                    ) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <button type="submit" class="btn btn-primary">Grabar</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </section>
                <!-- /.content -->
            </aside>
            <!-- /.right-side -->
        </div><!-- ./wrapper -->
    {% endblock %}
{% endblock %}