{% extends '::admin.html.twig' %}

{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">Acciones</li>
        <li>
            <a href="{{ path('usuario') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>

{% endblock %}

{% block content %}
<h1>Usuario</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Admin</th>
            <td>{{ entity.admin }}</td>
        </tr>
        <tr>
            <th>Ayuda</th>
            <td>{{ entity.ayuda }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}