.brand {
    background-image: url("/bundles/superlinea/img/bg_header.png") !important;
    background-repeat: no-repeat;
    background-size: 348px 40px;
    display: inline-block;
    height: 20px;
    width: 348px;
}

.bordetitulo {
    border-top: 4px #e4e4e4 solid;
    border-left: 4px #e4e4e4 solid;
    border-right: 4px #e4e4e4 solid;
    border-bottom: 0px #fff solid;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    height: 38px;
    margin: 0;
    width: 212px;
}

.bordetitulo h3 {
    border: 0 none;
    color: #1d93c5;
    font-size: 22px;
    font-weight: bold;
    line-height: 0px;
    margin-top: 16px;
    text-align: center;
}

.enlinea {
    display: inline-block;
    margin-left: 5px;
}

.invisible {
    display: none;
}

.navbar-inverse .navbar-inner {
    /*background-image: url("../bundles/superlinea/img/bg_header.png") !important;*/
    background-repeat: no-repeat;
    background-size: 183px 40px;
    background-color: #08c;
    background-image: -webkit-linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: -moz-linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: -ms-linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: -o-linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: linear-gradient(to bottom, #08c, #04c);
    /* Standard syntax; must be last */
}

.navbar-inverse .btn-navbar {
    background-color: #08c;
    background-image: -webkit-linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: -moz-linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: -ms-linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: -o-linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: linear-gradient(bottom, #08c 45%, #04c 55%);
    background-image: linear-gradient(to bottom, #08c, #04c);
    /* Standard syntax; must be last */
}

.navbar-inverse .navbar-link {
    color: #fff;
}

.navbar-inverse .navbar-link:hover {
    color: #333;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
    color: #fff;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a:hover {
    color: #333;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
    color: #333;
}

.flash-notice {
    width: 400px;
    display: inline-block;
    margin-left: 100px;
}

.row-fluid {
    position: relative;
    display: table;
    border-top: 4px #e4e4e4 solid;
}

.sidebar {
    padding: 19px;
    width: 18%;
    min-width: 188px;
}

.sidebar a {
    font-size: 1.3em;
    margin: 0;
    color: #0069d6;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    width: 100%;
}

.menuaborde {
    border: 4px solid #e4e4e4;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 3px 0 3px 3px;
    position: absolute;
    top: 15px;
    width: 13% !important;
}

.fila {
    display: table-row;
    width: 100%;
}

.kolumna {
    display: table-cell !important;
}

.kolumnaezkerra {
    border-left: 4px solid #e4e4e4;
    display: table-cell;
}

.kolumnaeskuina {
    border-right: 4px solid #e4e4e4;
    display: table-cell;
}

.content {
    padding-right: 20px;
}

.content .h3titulo {
    border: 0 none;
    color: #1d93c5;
    font-size: 26px;
    font-weight: bold;
    line-height: 24px;
    margin: 10px 0 10px;
}

.content table td {
    padding-left: 10px;
}

.divlanzador {
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

.tdacciones {
    width: 200px;
    padding-left: 2px !important;
}

.tdacciones ul {
    margin: 10px;
}

.tdacciones2 {
    width: 250px;
    padding-left: 2px !important;
}

#divfooter {
    border-color: #e4e4e4;
    border-image: none;
    -webkit-border-radius: 0 0 13px 13px;
    -moz-border-radius: 0 0 13px 13px;
    border-radius: 0 0 13px 13px;
    border-style: none solid solid;
    border-width: 0 4px 4px;
}

.dropinstruccion {
    text-align: center;
}

#urlyoutube {
    width: 350px;
}

.btnfilter {
    width: 20px;
    height: 20px;
}

.mith {
    width: 5%;
}

.th1 {
    width: 20%;
}

.th7 {
    width: 10%;
}

.th2 {
    width: 30%;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 24px;
        line-height: 26px;
        margin: 0 0 10px 0;
    }

    .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
        margin-top: -5px;
    }

    #divtablet {
        float: left !important;
    }

    #divinstrucciones {
        float: left !important;
    }

    #divusuarios {
        float: left !important;
    }

    .label, .badge {
        font-size: 9px;
    }



    .kolumna {
        display: table !important;
        margin-bottom: 12px;
    }

}