{% extends '::configurador.html.twig' %}

{% block sidebar %}
    <div class="btn-group inline eskuinetara">

        <div class="gorde">
            <input id="mytab" type="text" name="mytab" value="{{ mytab }}">
            <input id="productoid" type="text" name="productoid" value="{{ producto.id }}">
        </div>

    </div>

{% endblock %}

{% block content %}
    <script id="theme-instrucciones" type="text/x-handlebars-template">
{% raw %}
  {{#each referencias}}
        <div class="draginstruccion caja miinstruccion">
            <span class="badge badge-success mitooltip" title="{{ nombre }}">{{ trimS nombre 0 10 }}</span>
            <input type="hidden" name="  instruccionid" value="{{ id }}"/>
        </div>
        {{/each}}
{% endraw %}
</script>

    <a id="btnAddPuesto" class="btn btn-warning btn-lg" href="#myModal" data-toggle="modal">Añadir puesto</a>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul id="mytabs" class="nav nav-tabs">
            {% for linea in lineas if linea.mostrar %}
                <li {% if linea.nombre == mytab or mytab=="" %}class="active"{% endif %}><a
                            href="{{ path('puesto_config',{'id':producto.id,'mytab': linea.nombre }) }}"
                            title="">{{ linea.nombre }}</a></li>
            {% endfor %}
        </ul>
        <div class="elementos">
            <div class="tabbable tabs-left">
                <!-- <ul class="nav nav-pills nav-stacked span2"> -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#divtablet" title="Tablet" data-toggle="tab">Tablet</a></li>
                    <li><a href="#divinstrucciones" title="Instrucciones" data-toggle="tab">Instrucciones</a></li>
                    <li><a href="#divusuarios" title="Usuarios" data-toggle="tab">Usuarios</a></li>
                </ul>
                <div class="tab-content">
                    <div id="divtablet" class="tab-pane active">
                        {% for tablet in tablets if tablet.mostrar %}
                            <div class="dragtablet caja mitablet"><span class="badge badge-success mitooltip"
                                                                        title="{{ tablet.nombre  | slice(0,10) }}">{{ tablet.nombre }}</span><input
                                    type="hidden" name="tabletid" value="{{ tablet.id }}"/></div>{% endfor %}
                    </div>
                    <div id="divinstrucciones" class="tab-pane">

                        <div id="referenciaseleccion">

                            <div id="dcmbreferencia">
                                <label for="referencias">Ref:</label>
                                <select name="referencias" id="cmbreferencia">
                                    {% for r in referencias %}
                                        <option>{{ r.referencia }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="dreferencias">
                                {% for instruccion in instrucciones %}
                                    <div class="draginstruccion caja miinstruccion"><span
                                            class="badge badge-success mitooltip"
                                            title="{{ instruccion.nombre }}">{{ instruccion.nombre | slice(0,10) }}</span><input
                                            type="hidden" name="  instruccionid" value="{{ instruccion.id }}"/>
                                    </div>{% endfor %}
                            </div>

                        </div>
                    </div>
                    <div id="divusuarios" class="tab-pane">
                        {% for usuario in usuarios %}
                            <div class="dragusuario caja miusuario"><span class="badge badge-success mitooltip"
                                                                          title="{{ usuario.nombre }}">{{ usuario.nombre  | slice(0,10) }}</span><input
                                    type="hidden" name="usuarioid" value="{{ usuario.id }}"/></div>{% endfor %}
                    </div>
                </div>
                <!-- tab-content -->
            </div>
            <!-- tabbable tabs-left -->
        </div>
        <div id="dropeliminar" class="dropeliminar"><p>Arrastrar aqui para eliminar</p></div>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="contenido">
                    <div class="grande">
                        <div class="divpuestos">
                            <!--             <div class="cajapuesto">
                                            <div class="dropinstruccion"></div>
                                            <div class="droptablet"></div>
                                            <div class="dropusuario"></div>
                                          </div> -->
                            <!-- { % for puesto in producto.puestos if mytab in producto.puestos.lineas % } -->
                            {% for puesto in producto.puestos if mytab in puesto.linea.nombre %}

                            <div class="cajapuesto" style="left:{{ puesto.x }}px; top:{{ puesto.y }}px; ">
                                <button type="button" class="btnezabatu close btn-sm danger ">×</button>

                                <div class="dropinstruccion">{% if puesto.instruccion %}<span
                                        class="badge badge-success mitooltip"
                                        title="{{ puesto.instruccion.nombre }}">{{ puesto.instruccion.nombre | slice(0,10) }}</span>{% endif %}
                                </div>
                                <div class={% if puesto.tablet %}"nodroptablet"{% else %}"droptablet"{% endif %}
                                >{% if puesto.tablet %}
                                <div class=" caja mitablet"><span class="badge badge-success mitooltip"
                                                                  title="{{ puesto.tablet.nombre }}">{{ puesto.tablet.nombre | slice(0,10) }}</span>
                                </div>{% endif %}</div>
                            <div class="dropusuario">{% if puesto.usuario %}<span class="badge badge-success mitooltip"
                                                                                  title="{{ puesto.usuario.nombre }}">{{ puesto.usuario.nombre | slice(0,10) }}</span>{% endif %}
                            </div>

                            <div class="datos" style="display:none;">
                                <input class="input-mini" type="text" name="id" value="{{ puesto.id }}">
                                <input class="input-mini" type="text" name="x" value="{{ puesto.x }}">
                                <input class="input-mini" type="text" name="y" value="{{ puesto.y }}">
                                <input class="input-mini" type="text" name="tabletid"
                                       value="{% if puesto.tablet %}{{ puesto.tablet.id }}{% endif %}">
                                <input class="input-mini" type="text" name="instruccionid"
                                       value="{% if puesto.instruccion %}{{ puesto.instruccion.id }}{% endif %}">
                                <input class="input-mini" type="text" name="usuarioid"
                                       value="{% if puesto.usuario %}{{ puesto.usuario.id }}{% endif %}">
                            </div>
                        </div>
                        <!-- cajapuesto -->
                        {% endfor %}
                        <div class="divmesa">
                        </div>
                        <!-- div.divmesa -->
                    </div>
                    <!-- div.divpuestos -->
                </div>
                <!-- div.grande -->
            </div>
            <!-- div.contenido -->
        </div>
        <!-- div#tab1 -->
    </div> <!-- div.tab-content -->
    </div> <!-- div.tabbable -->



    <style>
        .ui-tooltip, .arrow:after {
            background: black;
            border: 2px solid white;
        }

        .ui-tooltip {
            padding: 10px 20px;
            color: white;
            border-radius: 20px;
            font: bold 14px "Helvetica Neue", Sans-Serif;
            text-transform: uppercase;
            box-shadow: 0 0 7px black;
        }

        .arrow {
            width: 70px;
            height: 16px;
            overflow: hidden;
            position: absolute;
            left: 50%;
            margin-left: -35px;
            bottom: -16px;
        }

        .arrow.top {
            top: -16px;
            bottom: auto;
        }

        .arrow.left {
            left: 20%;
        }

        .arrow:after {
            content: "";
            position: absolute;
            left: 20px;
            top: -20px;
            width: 25px;
            height: 25px;
            box-shadow: 6px 5px 9px -9px black;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            tranform: rotate(45deg);
        }

        .arrow.top:after {
            bottom: -20px;
            top: auto;
        }
    </style>
{% endblock %}